*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
    background: #683c04;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #682c04;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}
#navbar{
    background-color: #b2744c;
}
#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;  
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 15px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: rgb(151, 59, 22);
    color: rgb(209, 161, 138);
    border: 1px solid white;
    border-color: #641c06;
}
#navbar form button:hover{
    background: rgb(197, 107, 65);
    color: rgb(134, 55, 2);
    border-color: #965f3a;
}











#home{
    width: 100%;
    height: 90vh;
    background-image: url(peacelily.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;

}
#home .content{
    padding-top: 210px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 100px;
    color: rgba(23, 233, 100, 0.873);
}
#home .content p{
    margin-top: 10px;
    color: rgb(148, 96, 7);
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: rgb(8, 219, 18);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #b2744c;
    color: white;
}







#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(242, 230, 230);
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #b2744c;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #f4eeea;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;

}
#about-btn:hover{
    background-color: #f2edea;
    color: white;
}
@media screen and (max-width:982px) {
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px) {
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}








#top-cards{
    width: 100%;
    height: 60vh;
    background: #f7f5f2;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#top-cards .container{
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}








#plants{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container2{
    margin-top: 50px;
}
#plants .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: 0.5s;
}
#plants .card img{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
}
.star i{
    color: #b2744c;
}
#plants h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}
#plants p{
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
}
#plants p span{
    float: right;
    cursor: pointer;
}
#plants .card:hover{
    transform: translateY(-10px);
}







#product{
    width: 100%;
    padding-top: 165px;
}
.heading4{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    padding-top: 100px;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container3{
    margin-top: 30px;
}
#product h3{
    text-align: center;
    color: #b2744c;
    font-size: 23px;
}
#product p{
    color: #b2744c;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}
#product .card{
    border-radius: 10px;
}
#product .card img{
    border-radius: 10px;
}







#gallery{
    width: 100%;
    padding-top: 140px;
}
.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
#gallery .heading5 span{
    color: #b2744c;
}
#gallery .card{
    border-radius: 10px;
    cursor: pointer;
}
#gallery .card img{
    border-radius: 10px;
}








#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 66vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
    margin-top: 90px;
}
.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: #b2744c;
}
#contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
}
#col{
    width: 40%;
    height: 40vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}









#blogs{
    width: 100%;
}
#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#blogs .heading7 span{
    color: #b2744c;
}
#blogs .container{
    margin-top: 60px;
}
#blogs h5{
    color: #b2744c;
}
#blog-btn{
    width: 150px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c;
    cursor: pointer;
    border-radius: 5px;
}







  #footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
  }
  .footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }
  .socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
  }
  .credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  #credits a span{
    color: black;
  }
  .copyright span{
    color: black;
  }



html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}